*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  color: #FFF;
}

h4 {
  margin:0;
  font-family: 'Roboto Slab', serif;
}

p {
  margin:0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rate {
  margin-bottom: 1rem;
}

em {
  font-weight: bold;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
}

.button {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  padding: 0.6em 1.05em;
  color: #FFF;
  background-color: #d35400;
  border-radius: .5em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;

  width: 100%;
  text-align: center;
}

.button:active, .button:hover, .button:focus {
  background-color: #e67e22;
}

.text-block-container {
  margin-left: 15%;
  margin-right: 15%;
}

.text-block {
  max-width: 44rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.in-text-link {
  color: #d35400;
  text-decoration: none;
  font-size: 1.1rem;
}

.in-text-link:active, .in-text-link:hover, .in-text-link:focus {
  color: #e67e22;
}
