.category-group {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: center;

  margin-left: 15%;
  margin-right: 15%;
  max-width: 60rem;

  margin-bottom: 5rem;
}

.category-item {
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 12.5rem;
  box-shadow: 0px 4px 6px #e1e2e3;
  border-radius: 1.3rem;

  margin: 0.5rem;
  display: inline-block;
}

h2 {
  /*basic text visual styling*/
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;

  /*Center the text in it's container*/
  text-align: center;
  line-height: 12.5rem;

  /*Add text colour and background colour*/
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 1.3rem;

}

/*The following classes specify which background images should be inserted*/

.theory-image {
    background-image: url(../images/theory.png);
}

.harmony-image {
    background-image: url(../images/harmony.png);
}

.history-image {
    background-image: url(../images/history.png);
}

.piano-image {
    background-image: url(../images/piano.png);
}

.violin-image {
    background-image: url(../images/violin.png);
}

.singing-image {
    background-image: url(../images/singing.png);
}

.acoustic-guitar-image {
    background-image: url(../images/acoustic-guitar.png);
}

.electric-guitar-image {
    background-image: url(../images/electric-guitar.png);
}
