.category-group {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: center;

  margin-left: 15%;
  margin-right: 15%;

  margin-bottom: 5rem;
}

.category-item {
  background-repeat: no-repeat;
  background-size: 12.5rem;
  width: 12.5rem;
  height: 12.5rem;
  box-shadow: 0px 4px 6px #e1e2e3;
  border-radius: 1.3rem;
  text-decoration: none;

  margin: 0.5rem;
  display: inline-block;
}

.category-item h2:active, .category-item h2:hover, .category-item h2:focus {
  background-color: rgba(0, 0, 0, 0.2);
}


h2 {
  /*Center the text in it's container*/
  text-align: center;
  line-height: 12.5rem;

  /*Add text colour and background colour*/
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;

  border-radius: 1.3rem;

}

/*The following classes specify which background images should be inserted*/

.theory-image {
    background-image: url(../images/theory.png);
}

.harmony-image {
    background-image: url(../images/harmony.png);
}

.history-image {
    background-image: url(../images/history.png);
}

.piano-image {
    background-image: url(../images/piano.png);
}

.violin-image {
    background-image: url(../images/violin.png);
}

.singing-image {
    background-image: url(../images/singing.png);
}

.acoustic-guitar-image {
    background-image: url(../images/acoustic-guitar.png);
}

.electric-guitar-image {
    background-image: url(../images/electric-guitar.png);
}

@media(max-width: 77.125rem) {
  .category-group {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-width: 67.4375rem) {
  .category-group {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media(max-width: 59.9375rem) {
  .category-group {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media(max-width: 47.8125rem) {
  .category-group {
    margin-left: 15%;
    margin-right: 15%;
  }
}
