.event-group {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-left: 15%;
  margin-right: 15%;

  justify-content: center;

  margin-bottom: 4rem;
}

.event-item {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 18rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;

  max-width: 14rem;
}

h4{
  margin:0;
  font-family: 'Roboto Slab', serif;
}

p {
  margin:0;
  font-size: 1rem;
}

.event-meta-data {
  color: #9D9D9D;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}

.event-meta-data p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.event-description {
    margin-bottom: 1rem;
}

.button {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  padding: 0.6em 1.05em;
  color: #FFF;
  background-color: #d35400;
  border-radius: .5em;
  text-decoration: none;
  width: 100%;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button:active, .button:hover, .button:focus {
  background-color: #e67e22;
}

@media(max-width: 77.125rem) {
  .event-group {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-width: 67.4375rem) {
  .event-group {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media(max-width: 59.9375rem) {
  .event-group {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media(max-width: 47.8125rem) {
  .event-group {
    margin-left: 15%;
    margin-right: 15%;
  }
}
