.form-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-field {
  font-size: 1rem;
  padding: 0.2em 0.5em;
  border-radius: .5em;
  border-width: 0.09rem;
  border-style: solid;
  border-color: #d3d3d3;
  font-family: 'Open Sans', sans-serif;

  height: 2.5rem;
  margin-bottom: 2rem;

  display: block;
  width: 100%;
}

.text-area {
  height: 6rem;
}

@media(min-width: 26rem) {
  .form-container {
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
  }
}
