/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: 'Open Sans', sans-serif;
}

section h3 {
  margin-bottom: 0;
}

.style-nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #333;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.default-button {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  padding: 0.6em 1.05em;
  color: #FFF;
  background-color: #d35400;
  border-radius: .5em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.default-button:active, .default-button:hover, .default-button:focus {
  background-color: #e67e22;
}

.in-text-link {
  color: #d35400;
  text-decoration: none;
}

.in-text-link:active, .in-text-link:hover, .in-text-link:focus {
  text-decoration: underline;
}

.submit-button {
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  padding: 0.6em 1.05em;
  color: #FFF;
  background-color: #d35400;
  border-radius: .5em;
  border: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.submit-button:active, .submit-button.hover, .submit-button:focus {
  background-color: #e67e22;
}

.text-input {
  font-size: 1rem;
  padding: 0.2em 0.5em;
  border-radius: .5em;
  border-style: solid;
  border-color: #d3d3d3;
  width: 24rem;
  height: 2.5rem;
}

/*
  TEXT ELEMENTS -------------------
*/
.heading-2, .heading-4, .nav-main-item-home {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.heading-2 {
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}

.heading-3 {
  font-size: 1.3rem;

}

.heading-4 {
  font-size: 1rem;
}

.time-location {
  color: grey;
}

.bullet-list {
  list-style-type: square;
  line-height: 2rem;
}

.number-list {
  line-height: 2rem;
}

/*
  COMBINED ELEMENTS -------------------
*/

.nav-bar {
  box-shadow: 0px 4px 6px #e1e2e3;
  width: 100%;
  height: 4rem;
  background: #ffffff;
}

.main-section {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service-item {
  display: inline-block;
  width:16rem;
  border-radius: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 1px 1px 5px #888888;
}

.service-item a {
  width: 100%;
  text-align: center;
}

.event-item {
  margin: 1rem;
  display: inline-block;
  width: 28%;
}

.event-item a {
  width: 100%;
  text-align: center;
}

.checked {
  color: orange;
}

.main-content {
  display: inline-block;
  background-color: #d3d3d3;
  padding: 5rem;
  border-style: solid;
  border-color: white;
}

.side-content {
  display: inline-block;
  background-color: #d3d3d3;
  padding: 5rem;
  border-style: solid;
  border-color: white;
}

.swatch {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  text-align: center;
  padding-top: 2.3rem;
}

.dark-orange {
  background: #d35400;
}

.light-orange {
  background: #e67e22;
}

.light-grey {
  background: #d3d3d3;
}

.fullscreen{
  padding: 0;
  margin: 0;
}

.success-title {
  text-align: center;
  margin-top: 12rem;
}

.success-message {
    text-align: center;
}

.centered {
  text-align: center;
  margin-top: 3rem;
}

.centered-reduced-height {
  text-align: center;
  margin-top: 2rem;
}

.article {
  max-width: 40rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: left;
  margin: 0 auto;
  margin-top: 3rem;
}

textarea {
  width:30rem;
  height: 6rem;
  resize: none;
  font-size: 1rem;
  padding: 0.2em 0.5em;
  border-radius: .5em;
  border-style: solid;
  border-color: #d3d3d3;
  font-family: 'Open Sans', sans-serif;
}

.footer-nav-bar {
  min-height: 4rem;
  overflow: hidden;
  background: #d3d3d3;
}

.footer-items-group {
  float: right;
  line-height: 3.8rem;
  margin-right: 2rem;
}

.footer-top-space {
  margin-top: 12rem;
}

.footer-item {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  padding: 1rem;
  width: 25%;
  white-space: nowrap;
}

.footer-item:active, .footer-item:hover, .footer-item:focus {
  color: #d35400;
}
