*, *::after, *::before {
  box-sizing: border-box;
  margin:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.side-nav {
  position: static;
  border-style: solid;
  border-width: 0.06rem;
  border-color: #F2F2F2;
  border:0;
  min-height: 100%;
  overflow-y: visible;
  width: 100%;
  background: white;
  text-align: center;
  display: inline-block;
  z-index: 1;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

h3 {
  text-transform: uppercase;
  color: #797979;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}

a {
  color: #D35400;
  text-decoration: none;
  font-size: 0.85rem;
  display: block;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-top: 1rem;
}

.style-container {
  position: static;
  display:flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.tile-full-width {
  flex-basis: 100%;
  margin-top: 3rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.swatch-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.swatch {
  background-color: #DDD;
  border-radius: 0.15rem;
  text-align: center;
  font-weight: normal;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  flex-basis: 5rem;
  width: 5rem;
  height: 5rem;
}

h6 {
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.dark-orange {
  background-color: #D35400;
  color: white;
}

.light-orange {
  background-color: #E67E22;
  color: white;
}

.dark-black {
  background-color: #000;
  color: white;
}

.light-grey {
  background-color: #D3D3D3;
  color: white;
}

.light-white {
  background-color: #FFF;
  color: black;
  border-style: solid;
  border-color: #DDD;
  border-width: 0.06rem;
}

.tile {
  margin-top: 3rem;
  flex-basis: 100%;
}

.css-selector {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

h5 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.06rem;
  font-size: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #CCC;
}

code {
  font-family: monospace, 'Inconsolata';
  background: #F2F2F2;
  font-size: 0.9rem;
}

.header-1 {
  padding: 0;
}

.header-2 {
  padding: 0;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: normal;
  font-family: 'Roboto Slab', serif;
}

.header-3 {
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #797979;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  letter-spacing: normal;
}

.paragraph {
  color: black;
  letter-spacing: normal;
  font-size: 1rem;
}

input {
  height: 2rem;
  padding-left: 0.5rem;
  width: 100%;
  max-width: 16rem;
  border-style: solid;
  border-color: #DDD;
  border-width: 0.06rem;
  border-radius: 0.15rem;
}

.hyperlink {
  margin:0;
}

.submit-button {
  font-weight: normal;
  font-size: 1rem;
  padding: 0.6em 1.05em;
  color: #FFF;
  background-color: #d35400;
  border-radius: 0.15em;
  text-decoration: none;
  text-align: center;
  border: none;
  margin: 0;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;

  display: inline-block;
}

.submit-button:active, .submit-button:hover, .submit-button:focus {
  background-color: #e67e22;
}

ul {
  padding-left: 1rem;
  line-height: 1.5rem;
}

ol {
  padding-left: 1rem;
  line-height: 1.5rem;
}

/*THIS IS THE MAIN NAV STYLING*/

nav {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  box-shadow: 0px 4px 6px #e1e2e3;
}

.nav-item {
  color: #d35400;
  font-size: 0.6rem;
  font-weight: bolder;
  letter-spacing: .2rem;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.nav-item:hover, .nav-item:active, .nav-item:focus {
  color: #e67e22;
}

.logo {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-basis: 100%;
  text-align: center;
  margin-top: 0;
}

.header-nav {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  box-shadow: 0px 4px 6px #e1e2e3;
}

.header-nav-group {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  flex-basis: 100%;
  padding-bottom: 0.4rem;
}

.nav-item {
  padding: 1rem;
  flex-basis: 100%;
  text-align: center;
}

.detail-item {
  width: 12.5rem;
  height: 8rem;
  box-shadow: 1px 1px 6px #d3d3d3;
  border-radius: 1rem;
  text-decoration: none;
  padding-left: 2rem;
  padding-top: 1.3rem;
  margin: -0;
  display: inline-block;
  -webkit-transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
}

.detail-item:active, .detail-item:hover, .detail-item:focus {
  box-shadow: 2px 2px 8px #d3d3d3;
  color: #d35400;
}

.instructor {
  font-weight: bolder;
  font-size: 1.1rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.checked {
  color: orange;
}

.rate {
  margin-bottom: 0.7rem;
  color: #000;
  font-size: 1rem;
}

.reviews {
  display: inline;
  font-size: .6rem;
  color: #797979;
}

.footer-container {
  background: #1B1B1B;
  /*Uncomment this margin for actual implementaiton*/
  /*margin-top: 4rem;*/
}

.footer-items-group {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content:flex-end;

  margin-right: 1rem;
}

.footer-item {
  color: #797979;
  font-size: 0.6rem;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  margin: 0;
  font-weight: bolder;

  letter-spacing: 0.2rem;
  padding: 1rem;

  text-transform: uppercase;
}

.footer-item:active, .footer-item:hover, .footer-item:focus {
  color: #d35400;
}

.grid-container{
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.grid-box {
  flex-basis: 12.5rem;
  height: 12.5rem;
  background: #DDD;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.grid-text {
  text-align: center;
  line-height: 12.5rem;
}

@media(min-width: 30rem) {
  .logo {
    display:block;
    -ms-flex-grow: 2;
    flex-grow: 2;
    flex-basis: auto;
    text-align: left;
    margin-left: 2rem;
  }

  .header-nav-group {
    text-align: left;
    flex-basis: auto;
    margin-right: 1rem;
    padding-bottom: 0;
  }

  .nav-item {
    text-align: left;
    flex-basis: auto;

    /*centers content vertically*/
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media(min-width: 64.5rem) {
  .tile {
    flex-basis: 50%;
  }
}

@media(min-width: 85.25rem) {
  .tile {
    flex-basis: 33.333%;
  }
}

@media(min-width: 26rem) {
  .footer-container {
    /*Uncomment fixed position this during actual implementation*/
    /*position:fixed;*/
    bottom: 0;
    left: 0;

    width: 100%;
  }
}

@media(min-width: 38.75rem) {
  .style-container {
    margin-left:9.5rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
  }

  .tile-full-width {
    margin-top: 6rem;
  }

  .tile {
    margin-top: 6rem;
  }

  .side-nav {
    position: fixed;
    left: 0rem;
    width: 9.5rem;
    text-align: left;
    border-width: 0.06rem;
    border-right: 0.06rem;
    border-style: solid;
    border-color: #F2F2f2;
  }
}
